# Data Science Tools and Ecosystem

**objectives**
- List popular languages for Data Science
- learn data science tools
- learn python arithmetic operations

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of commonly used data science libraries are:
1. Numpy
2. Matplotlib
3. Pandas

|Data Science Tools|
|------------------|
|Apache Spark      |
|Scikit-learn      |
|DAX               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [49]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [51]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Hassan Mohamed